.main-home-container {
  background-image: url(../../../../assets//image/background/BackBlur_ForLight.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .second-container {
    height: 100%;
    width: 100%;
    background-image: url(../../../../assets//image/background/backParticule.png);
    background-size: cover;
  }
}
