.a-propos-main-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 1px 10%;
  gap: 70px;
  margin-bottom: 100px;
  color: var(--darkFontColor);
  position: inherit;
  .bloc {
    position: relative;
    height: 550px;
    border-radius: 70px;
    padding: 5%;
    border: 5px dashed var(--darkFontColor);
    background-color: var(--backgroundColorTrasparentReverse);
    backdrop-filter: blur(5px);
  }
  .bloc-1-apropos {
    width: 60%;
    .element-1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: radial-gradient(
        1000px circle at var(--mouse-x) var(--mouse-y),
        var(--backgroundColorTrasparentReverse2),
        transparent 40%
      );
      border-radius: inherit;
      opacity: 0;
      transition: opacity 200ms ease;
    }
    &:hover .element-1 {
      opacity: 1;
    }
  }
  .bloc-2-apropos {
    width: 40%;

    .element-2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: radial-gradient(
        1000px circle at var(--mouse-x) var(--mouse-y),
        var(--backgroundColorTrasparentReverse2),
        transparent 40%
      );
      border-radius: inherit;
      opacity: 0;
      transition: opacity 200ms ease;
    }
    &:hover .element-2 {
      opacity: 1;
    }
    .child-bloc {
      position: relative;
      z-index: 6;
    }
  }
}
