<div class="main-content-footer">
  <div class="main-message-footer">
    <div class="logo-footer">
      <h1>ScoEmit</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque esse
        est sit unde quasi magni dignissimos totam sed sequi nisi!
      </p>
    </div>
    <div class="speed-link-footer">
      <ul class="main-ul">
        <li class="main-li">
          <p>Racourci</p>
          <hr />
          <ul class="second-li">
            <li>Accueil</li>
            <li>A propos</li>
            <li>Solution</li>
            <li>Contact</li>
          </ul>
        </li>
        <li class="main-li">
          <p>Acces</p>
          <hr />
          <ul class="second-li">
            <li>S'inscrire</li>
            <li>Se connecter</li>
          </ul>
        </li>
        <li class="main-li">
          <p>Utiles</p>
          <hr />
          <ul class="second-li">
            <li>Aide</li>
            <li>Video Presentation</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright-footer">
    <h5>copyright © 2024 ScoEmit Developpe par MaheryRakotomalala</h5>
    <h5>Terme et condition d'utilisations politique de confidentialité</h5>
  </div>
</div>
